In [128]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

#MINI SAMPLE EXAMPLE - 100k in size 


def filter_elos(sample):
    #sample = sample.drop(['Player_White','Player_Black','Tournament','City'],axis = 1) # this is temporary because 

    # count number of row with unr in elo 
    initial = len(sample)
    sample = sample[sample['ELO_Black'].apply(lambda x: str(x).isdigit())]
    sample = sample[sample['ELO_White'].apply(lambda x: str(x).isdigit())]
    resulting = len(sample)
    
    #print(initial-resulting , ' rows dropped')
    return sample

def filter_tournament(sample):
    initial = len(sample)
    Under = sample['Tournament'].apply(lambda x: ('U' in str(x)))
    Women = sample['Tournament'].apply(lambda x: ('women' in str(x).lower()))
    Men = sample['Tournament'].apply(lambda x: ('men' in str(x).lower()))
    
    sample.loc[:,'Tournament'] = 0 # General
    sample.loc[Under,'Tournament'] = 1
    sample.loc[Men,'Tournament'] = 2
    sample.loc[Women,'Tournament'] = 3
    
                                       
                                       
    resulting = len(sample)
    #print(initial-resulting , ' rows dropped')
    return sample


def name_hash(name):
    name = str(name).lower()
    val = 0
    mod = 1000000007
    
    for i in name:
        val = val * 30 + ord(i) - ord('a')
        val = val % mod
        
    return val


def filter_player_names(sample):
    
    for i, row in sample.iterrows():
        sample.set_value(i,'Player_White',name_hash(sample.loc[i]['Player_White']))
        sample.set_value(i,'Player_Black',name_hash(sample.loc[i]['Player_Black']))

    return sample

def filtering (sample):
    sample = filter_elos(sample)
    sample = filter_tournament(sample)
    sample = filter_player_names(sample)
    
    return sample
                                                                                                                                                                                                                                                                                                                                                                                                                                                                    

def filteringNOELO (sample):
    sample = filter_elos(sample)
    #sample = filter_tournament(sample)
    #sample = filter_player_names(sample)
    
    return sample

In [71]:
'''
sample = pd.read_csv('mini_sample.csv')  # 100,000 size 


sample = filter_elos(sample)
sample = filter_tournament(sample)
sample = filter_player_names(sample)

sample_train, sample_test = train_test_split(sample, test_size=0.2)
sample_test, sample_validation = train_test_split(sample_test, test_size=0.5)
sample.to_csv('transformed_mini_sample.csv',index = False)
'''


sample = pd.read_csv('transformed_mini_sample.csv')
sample = sample.drop('City',axis = 1) 

sample_train, sample_test = train_test_split(sample, test_size=0.2)
sample_test, sample_validation = train_test_split(sample_test, test_size=0.5)

x_sample_train = sample_train.drop('Result',axis = 1)
y_sample_train = sample_train['Result']

x_sample_validation = sample_validation.drop('Result',axis = 1)
y_sample_validation = sample_validation['Result']

x_sample_test = sample_test.drop('Result',axis = 1)
y_sample_test = sample_test['Result']

In [164]:
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
import pickle

# MACHINE LEARNING MODELS 

def random_forest_cl(x_sample_train,y_sample_train,x_sample_test,y_sample_test):
    rfc = RandomForestClassifier(n_estimators=200, oob_score=True, random_state=123456)
    rfc.fit(x_sample_train, y_sample_train)
    filename_rfc = 'rfcModelMini_NOELO.sav'
    pickle.dump(rfc, open(filename_rfc, 'wb'))
    predicted = rfc.predict(x_sample_test)
    accuracy = accuracy_score(y_sample_test, predicted)
    cm = metrics.confusion_matrix(y_sample_test, predicted)
    print(accuracy,'\n',cm)
    

def logisitic_cl(x_sample_train,y_sample_train,x_sample_test,y_sample_test):
    lrc = LogisticRegression()
    lrc.fit(x_sample_train, y_sample_train)
    predicted = lrc.predict(x_sample_test)
    accuracy = accuracy_score(y_sample_test, predicted)
    cm = metrics.confusion_matrix(y_sample_test, predicted)
    print(accuracy,'\n',cm)

def random_forest_r(x_sample_train,y_sample_train,x_sample_test,y_sample_test):
    rfr = RandomForestRegressor(n_estimators=200,max_features = 'sqrt',max_depth = 20, oob_score = True)
    rfr.fit(x_sample_train, y_sample_train)
    filename_rfr = 'rfrModelMiniNEW.sav'
    pickle.dump(rfr, open(filename_rfr, 'wb'))
    predicted = rfr.predict(x_sample_test)
    #print([predicted,y_sample_test])
    
random_forest_r(x_sample_train.drop(['Played_Eval','Eval_Diff'],axis = 1), y_sample_train,
                x_sample_test.drop(['Played_Eval','Eval_Diff'],axis = 1) ,y_sample_test)

In [143]:
import pickle
rfcm = pickle.load(open('rfcModelMini_NOELO.sav', 'rb'))

In [147]:

elow = [0,15,25,35,50,80] 
ehigh = [15,25,35,50,80,200]

for i in range(0,len(elow)):
    VM = sample_validation.drop(['Move#','Turn'],axis = 1)
    #print(VM)
    VM = filtering(VM)
    #VM = VM[(VM['Move#']>=elow[i]) & (VM['Move#']<ehigh[i])]
    #print(len(VM),end = ',')
    X_VM = VM.drop(['Result'],axis = 1)
    Y_VM = VM['Result']
    predicted = rfcm.predict(X_VM)
    accuracy = accuracy_score(Y_VM, predicted)
    cm = metrics.confusion_matrix(Y_VM, predicted)
    print(accuracy, end = ' ')

#VM

0.3810991268618387 0.39429763560500697 0.4350506384852488 0.470026525198939 0.5467239527389903 0.6888888888888889

In [165]:
time_pass = sample_validation.drop(['Played_Eval','Eval_Diff'],axis = 1)

In [167]:
time_pass

#rfcm.predict()

,Tournament,Year,Player_White,Player_Black,ELO_White,ELO_Black,Turn,Move#,QueenWhite,QueenBlack,RookWhite,RookBlack,BishopWhite,BishopBlack,KnightWhite,KnightBlack,Best_Eval,Result
98693,0,2004,209899724,606871727,1996,2001,1,20,1,1,2,2,2,2,0,1,-27,1
18975,0,2015,878124291,944660913,1924,1928,-1,26,0,0,2,2,1,1,1,1,44,1
41711,0,2007,631159515,437995638,2615,2622,1,41,0,0,1,1,0,0,0,0,-247,-1
70779,0,1993,682175410,330171540,2615,2615,1,39,0,0,0,2,1,0,2,0,-185,-1
72075,1,2011,744221359,255102616,2498,2490,1,78,0,0,1,1,0,0,0,0,38,1
80142,3,2015,660368889,780269932,2040,2057,1,48,0,0,1,1,1,0,0,1,-139,-1
58684,1,2003,369560677,786365911,1420,1425,-1,75,0,0,0,0,0,0,0,0,-99989,1
18339,0,2007,367608614,547868553,1875,1868,1,37,0,0,0,0,1,0,0,1,7,1
96870,0,1986,330171540,685053615,2490,2490,1,16,1,1,2,2,2,1,0,1,69,1
90817,0,2013,151451161,826166815,2072,2071,-1,37,0,0,0,0,1,1,1,1,1,1
73121,0,2006,246852565,724930426,2235,2228,1,11,1,1,2,2,2,2,2,2,-36,0
40667,0,2014,775012811,934564382,2456,2456,-1,9,1,1,2,2,2,2,2,2,-54,0
83686,0,1995,854065446,371743533,2245,2245,1,36,1,1,0,0,2,2,1,1,55,0
93181,0,2008,8600911,165577222,2440,2447,-1,9,1,1,2,2,2,2,2,2,0,0
45591,0,2006,892617637,77166605,2099,2097,-1,36,0,0,2,2,1,1,0,0,-99989,1
31959,0,2013,30092835,476362765,2119,2118,-1,48,0,0,0,0,1,0,0,1,0,0
3239,0,2009,191094724,739578611,2372,2371,1,30,1,1,0,0,0,1,1,0,0,0
45178,1,2017,964365671,823049827,1707,1690,1,36,0,0,1,2,1,0,0,0,259,1
43919,0,2017,95957282,368498683,2227,2223,-1,40,0,0,0,0,1,1,1,1,-113,1
82094,0,2010,271213619,622426626,2267,2276,-1,53,0,0,0,0,1,0,0,1,-618,1
36195,0,2017,853621878,510183478,1960,1948,-1,44,1,1,1,1,1,1,0,0,0,0
30183,0,2012,810817532,556339496,1933,1917,1,12,1,1,2,2,2,2,1,1,37,-1
6104,0,2004,984137451,644166355,1202,1191,-1,30,0,0,1,1,0,0,0,0,7,0
33204,0,1987,330171540,25555526,2515,2520,-1,67,0,0,1,1,0,0,0,0,-112,0
22838,1,2007,670457137,294128199,2170,2176,1,38,0,0,1,1,0,0,0,0,30,-1
26763,0,2014,29959357,869175785,1558,1550,1,14,1,1,2,2,2,2,1,1,45,0
22440,0,2011,186501956,354767323,2538,2285,-1,17,1,1,2,2,2,1,0,1,-77,1
86601,0,2014,255279327,805040151,2358,2350,-1,25,0,0,2,2,1,1,0,0,-46,0
37096,0,2002,101617899,945619864,1749,1742,-1,25,0,0,2,2,1,1,0,0,-8,0
73225,0,2014,555510054,841870589,2747,2757,1,42,1,1,1,1,0,0,0,0,-93,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94434,0,2012,465946719,33418779,2329,2317,1,13,1,1,2,2,2,2,2,2,44,1
16981,0,1997,432773296,847525994,2490,2495,-1,37,1,1,2,2,0,1,2,1,43,-1
95184,1,2008,677248979,216016230,2135,2118,1,18,1,1,2,2,1,1,2,2,51,0
65799,0,2013,241625100,789929384,2019,2021,1,41,1,1,2,2,1,1,0,0,-68,-1
7327,1,1997,257894951,766803575,2380,2370,1,16,1,1,2,2,2,2,2,2,42,0
16374,0,2009,267072151,454391646,2507,2510,-1,44,0,0,0,0,0,1,1,0,0,0
29336,3,2011,30483288,16511283,2484,2489,-1,17,1,1,2,2,1,1,2,2,3,-1
34642,0,2016,126083245,643162631,2280,2265,-1,34,0,0,1,1,0,0,1,0,-368,1
29715,0,2015,531627263,871365318,1609,1606,-1,29,0,0,1,0,2,1,0,2,-40,1
22911,0,2009,93050361,603840459,2500,2496,-1,28,1,1,1,1,2,1,0,0,-133,0
84307,0,1990,919131981,302855579,2540,2540,1,20,0,0,2,2,1,1,1,1,-8,0
93169,0,2010,83883522,600421103,2552,2487,1,22,1,1,2,2,1,1,1,1,7,0
27714,0,1989,123341170,915652258,2490,2510,-1,14,1,1,2,2,2,2,1,1,-22,-1
52264,1,2010,608734000,704130276,1860,1857,1,15,0,1,2,2,0,0,2,2,-3,0
63460,0,2001,596327779,246544571,1589,1610,1,38,0,0,0,0,1,2,1,0,-67,0
79723,0,2007,974654448,787218385,2248,2253,-1,35,0,0,1,1,1,1,1,0,-539,1
3457,0,2006,806268201,939985158,2571,2568,-1,42,0,0,0,0,0,0,1,1,0,0
12510,1,2009,510493999,987087432,1984,1974,-1,20,0,0,2,1,1,2,1,1,-552,0
23887,1,2016,435303810,896575159,2025,2027,1,18,0,0,2,2,2,2,1,1,-125,1
25380,3,2014,989242270,382613085,2133,2124,-1,22,1,1,2,2,1,1,1,1,-636,1
17554,1,1986,897115518,176859705,2500,2510,-1,10,1,1,2,2,2,2,2,2,13,0
45247,0,2014,662636609,641459473,2147,2144,1,51,0,0,0,1,0,0,1,0,-260,-1
80702,0,2015,462861752,8201718,2202,2207,1,16,1,1,2,2,0,1,2,1,-24,0
5265,3,2013,351290421,87446269,2348,2358,-1,41,0,0,2,2,0,0,0,0,-316,1
9991,0,1997,650515490,964871185,2130,2125,1,18,1,1,2,2,1,2,2,1,0,-1
67967,1,2009,408211886,520980343,1161,1152,-1,43,0,0,1,1,0,0,0,0,-31,-1
28412,0,2014,611598207,643433319,2009,2002,1,18,1,1,2,2,2,1,0,1,3,-1
57661,0,2016,312249220,267102746,1704,1690,-1,50,0,0,1,1,0,0,0,0,-146,1
39435,0,2009,285010797,641073254,1926,1916,-1,49,0,0,2,1,0,1,0,0,164,1
95754,0,2006,93050361,776642027,2500,2495,-1,18,1,1,2,2,1,1,1,1,-36,0